// Colores
// Grises, basados en mi paleta https://color.adobe.com/library/0FA7DB6E-C54E-47F3-AD82-6798F916927C/theme/9c6386ea-4781-4b42-984f-4b74d1dfdc5e/
$black: #000;
$negro: #363636;
$gris_m: #757575;
$gris_mc: #B5B5B5;
$gris_c: #EEEEEE;
$humo: #F5F5F5;
$blanco: #fff;

// Colores extraídos de https://color.adobe.com/library/0FA7DB6E-C54E-47F3-AD82-6798F916927C/theme/b9c4a8f1-e361-405e-a086-496ebe8949b5/
$azul: #3E606F;
$verde: #91AA9D;
$verde_claro: #D1DBBD;

// Colores de Toballa https://color.adobe.com/es/library/0FA7DB6E-C54E-47F3-AD82-6798F916927C/theme/2A280755-7AE2-4A59-92FE-A0AE1835DB26/
$toballa_violeta: #A65D7F;
$toballa_amarillo: #F2B138;
$toballa_naranja: #D98B2B;
$toballa_rojo: #F24535;
$toballa_granate: #A6281C;

// Otros colores
$fosforito: #ccff00;

// Mapa de colores de toolbox

$toolbox: (
	git : #f14e32,
	bitbucket : #205081,
	ror: #cc0000,
	markdown : #4a525a,
	php : #4F5B93,
	mysql : #f59620,
	js : #f7df1e,
	jquery : #0769ad,
	modernizr : #db4886,
	jquery-ui : #b24926,
	node : #026e00,
	bootstrap : #6f5499,
	sass : #c6538c,
	compass : #fb292d,
	css : #2461AA,
	html : #E04D2A,
	jeyll: #fc0,
	drupal : #0678be,
	wordpress : #1e8cbe,
	grunt : #e48632,
	bower : #FFCC2F,
	npm : #C12127,
	windows : #0078D7,
	linux : #fb6b17,
	ubuntu : #e95420,
	mac : #999,
	codrops : #0099cc,
	csstricks : #de7006,
	smashing : #e53a2b,
	codepen: #000,
	hackernews : #ff6600,
	w3c : #144B6F,
	mailchimp : #e85c41,
	sublime : #ccc,
	aws : #eeba37,
	digitalocean : #288feb,
	illustrator : #F6A52F,
	photoshop : #090157,
	gitkraken : #149287,
	indesign : #D60281,
	soundmanager : #222,
	susy : #ff0080,
	foundation : #FF6908,
	emmet : #7acb17,
	jade : #589983,
	twig : #bacf29,
	liquid : #67B8DE,

);



// Tipografía
$lato: 'Lato', sans-serif;
$merri: 'Merriweather', serif;
$alegreya: 'Alegreya Sans', serif;
$martel: 'Martel', serif;
$halant: 'Halant', serif;
$times: Times News Roman, serif;

$base-font: $merri;
$alt-font: $merri;


// Variables semánticas utilizadas en el SCSS
$color-destacado: $toballa_granate;
$color-secundario: $azul;
$color: $negro;
$color-title: $black;
$color-suave: $gris_m;
$marker: $fosforito;


// Vertical Rhythm de Compass

$base-font-size: 18px;
$base-line-height: 27px; // Aprox. 18 * 1,4
$rhythm-unit: "rem"; // La vida en REM es mejor. Compass y postcss manejan el pixel fallback
$rem-with-px-fallback: true;
$default-rhythm-border-width: 1px dotted $negro;
$round-to-nearest-half-line: true; // Importante: permite 1/2 line-height

$h1: 3.157 * $base-font-size; // Sigue la scala "perfect fourth" de http://type-scale.com/
$h12: 2.763 * $base-font-size;
$h2: 2.369 * $base-font-size;
$h3: 1.777 * $base-font-size;
$h4: 1.333 * $base-font-size;
$h5: 0.85 * $base-font-size;
$small: 0.75 * $base-font-size;
$smaller: 0.67 * $base-font-size;
$enano: 0.55 * $base-font-size;

// Breakpoints
$mini: 260px;
$medio: 480px;
$grande: 968px;
$screen: 1150px;

// Imports
@import "compass/typography/vertical_rhythm";
@import "breakpoint";