<nav class="alt-nav">
	<ul class="alt-nav__list">
		<li class="alt-nav__item alt-nav__item--seccion">
			<span>Intro</span>
		</li>
		<li class="alt-nav__item alt-nav__item--seccion">
			<span>Currículum Vitae</span><span class="alt-nav__item--separador">{</span>Experiencia laboral</li>
		<li class="alt-nav__item">Estudios</li>
		<li class="alt-nav__item">Idiomas</li>
		<li class="alt-nav__item">Publicaciones</li>
		<li class="alt-nav__item">Otros <span class="alt-nav__item--separador">}</span></li>
		<li class="alt-nav__item alt-nav__item--seccion">
			<span>Portfolio</span><span class="alt-nav__item--separador">{</span>
			El Estado Mental
		</li>
		<li class="alt-nav__item">DisparaMag</li>
		<li class="alt-nav__item">Sailaway</li>
		<li class="alt-nav__item">Baïa</li>
		<li class="alt-nav__item">CITpax</li>
		<li class="alt-nav__item">ST/Projects</li>
		<li class="alt-nav__item">Aish</li>
		<li class="alt-nav__item">Panàdarío</li>
		<li class="alt-nav__item">Archivo Amazigh</li>
		<li class="alt-nav__item">Teim / Reim</li>
		<li class="alt-nav__item">OPEMAM</li>
		<li class="alt-nav__item">Otros <span class="alt-nav__item--separador">}</span></li>
		<li class="alt-nav__item alt-nav__item--seccion">
			<span>Toolbox</span>
		</li>
		<li class="alt-nav__item alt-nav__item--seccion">
			<span>Contacto</span>
		</li>
	</ul>
</nav>