<section id="contacto" class="body">
	<h1 class="hidden">Contacto</h1>
	<ul class="contacto">
		<li><i class="icon-fb"></i><a href="https://www.facebook.com/idiazroncero" target="_blank">idiazroncero</a></li>
		<li><i class="icon-tw"></i><a href="https://twitter.com/idiazroncero" target="_blank">@idiazroncero</a></li>
		<li><i class="icon-in"></i><a href="https://www.linkedin.com/in/idiazroncero" target="_blank">Ignacio Díaz-Roncero</a></li>
		<li><i class="icon-mail"></i><a href="mailto:idiaz.roncero@gmail.com" target="_blank" itemprop="email">Correo Electrónico</a></li>
		<li><i class="icon-sk"></i>nacho.lennon</li>
	</ul>
</section>