<section id="cv-laboral" class="body">
	<h1>Experiencia laboral</h1>
	<ul class="carrusel__content cvlist">
		<li class="cvlist__item">
			<div class="cvlist__item__label">2012 / <br> Actualidad</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Diseñador y desarrollador web</p>
					<p class="cvlist__subtitle">Freelance - <a class="flkty__link" href="#portfolio-1">Ver Portfolio</a></p>
					<div class="cvlist__masinfo">
						<ul>
							<li>Diseño y desarrollo web</li>
							<li>Diseño gráfico</li>
							<li>Sysadmin</li>
							<li>Formación</li>
							<li>Asesoría</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">Oct 2013 / <br> Dic 2016</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Coordinador informático</p>
					<p class="cvlist__subtitle">El Estado Mental</p>
					<div class="cvlist__masinfo">
						<ul>
							<li>Diseño y desarrollo web</li>
							<li>Sysadmin</li>
							<li>Formación, asesoría y coordinación</li>
							<li>Redactor</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">Jun 2012 / <br>
				Jun 2014</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Coordinador sección países no árabes, redactor y webmaster</p>
					<p class="cvlist__subtitle">
						Aish.com.es
					</p>
					<p class="cvlist__masinfo">Proyecto de información sobre el mundo árabe e islámico coordinado por la periodista Carla Fibla.</p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">Jul 2011 / <br>
				Ago 2014</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Periodista, fundador, diseñador y coordinador</p>
					<p class="cvlist__subtitle">
						Latitud194.com
					</p>
					<p class="cvlist__masinfo">Proyecto colaborativo de información internacional fundado junto con otros tres periodistas y un politólogo</p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">2013</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Periodista en prácticas (3 meses)</p>
					<div class="cvlist__subtitle">
						DaoOnline.info
					</div>
					<p class="cvlist__masinfo"><span class="cvlist__destacado">Florencia, Italia - 3 meses</span><br/>Como beneficiario de una beca Da Vinci de la Unión Europea</p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">2012</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Investigador en prácticas (6 meses)</p>
					<div class="cvlist__subtitle">
						Centro Internacional de Toledo para la Paz
					</div>
					<p class="cvlist__masinfo">Investigador sobre la crisis nuclear iraní asociado al Programa de Oriente Medio y Mediterráneo del Centro Internacional de Toledo para la Paz.</p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">Abr 2010 /<br>
				Mar 2011</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Periodista</p>
					<div class="cvlist__subtitle">
						Lasalle Campus Madrid
					</div>
					<p class="cvlist__masinfo">Asignado al Departamento de Comunicación en labores de: gestión de contenidos de las páginas web del Centro Universitario, edición (fotografía, diseño, maquetación), comunicación interna y externa (notas de prensa, newsletters), diseño de un plan de comunicación en Redes Sociales y Web 2.0.</p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">2007</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Periodista en prácticas (3 meses)</p>
					<div class="cvlist__subtitle">
						Heraldo de Soria
					</div>
					<p class="cvlist__masinfo">Redactor becario en sección Capital, Local y Provincia. Redacción, edición y premaquetación de noticias, notas de prensa, entrevistas, crónicas, reportajes y contraportadas (opinión).</p>
				</li>
			</ul>
		</li>
	</ul>
</section>