<section id="cv-estudios" class="body">
	<h1>Formación reglada</h1>
	<ul class="carrusel__content cvlist">
		<li class="cvlist__item">
			<div class="cvlist__item__label">2012</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Máster en Estudios Árabes e Islámicos Contemporáneos</p>
					<p class="cvlist__subtitle" itemprop="alumniOf">Universidad Autónoma de Madrid</p>
					<p class="cvlist__masinfo">
					Becario de la Caixa para estudios de Máster<br/><strong>9,04 de nota media y Matrícula de Honor en tesina</strong><br/>
					Publicación oficial de la tesina de fin de Máster.</p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">2010</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Mágister en Relaciones Internacionales y Comunicación</p>
					<p class="cvlist__subtitle" itemprop="alumniOf">ICEI (Instituto Complutense de Estudios Universitarios)</p>
					<p class="cvlist__masinfo">
					<strong>Mención de excelencia</strong></p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">2009</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Licenciado en Periodismo</p>
					<p class="cvlist__subtitle" itemprop="alumniOf">Universidad Complutense de Madrid</p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">2004</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Bachillerato Ciencias de la Naturaleza y la Salud</p>
					<p class="cvlist__subtitle" itemprop="alumniOf">IES Politécnico de Soria</p>
					<p class="cvlist__masinfo"><strong>Matrícula de honor</strong></p>
				</li>
			</ul>
		</li>
	</ul>
</section>