<section id="feed" class="body">
	<h1>Trabajos en curso</h1>
	<div class="carrusel__content">
		<div class="gitfeed__wrapper">	
			<h2>Github</h2>
			<ul id="gitfeed"></ul>
		</div>
		<div class="bitfeed__wrapper">
			<h2>BitBucket</h2>
			<ul id="bitfeed"></ul>
		</div>
	</div>
</section>