<section id="cv-idiomas" class="body">
	<h1>Idiomas</h1>
	<div class="carrusel__content">
		<ul class="cvlist">
			<li class="cvlist__item">
				<div class="cvlist__item__label">Inglés</div>
				<ul class="cvlist__subitems">
					<li class="cvlist__subitem">
						<div class="cvlist__title">
							<ul>
								<li>Expresión oral | Alto</li>
								<li>Expresión escrita | Alto</li>
								<li>Comprensión | Muy alto</li>
							</ul>
						</div>
						<div class="cvlist__masinfo">
							<ul>
								<li>
									First Certificate in English (B2)  - Cambridge University
								</li>
								<li>
									Curso de Inmersión en Inglés de La Casa Encendida, nivel avanzado - 40 horas
								</li>
								<li>
									Curso de inglés americano nivel C1 - American Language Academy
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
			<li class="cvlist__item">
				<div class="cvlist__item__label">Italiano</div>
				<ul class="cvlist__subitems">
					<li class="cvlist__subitem">
						<div class="cvlist__title">
							<ul>
								<li>Expresión oral | Muy alto</li>
								<li>Expresión escrita | Muy alto</li>
								<li>Comprensión | Muy alto</li>
							</ul>
						</div>
						<div class="cvlist__masinfo">
							<ul>
								<li>
									CELI 4 (C1) - Universitá per Stranieri di Perugia
								</li>
								<li>
									Certificado de Aptitud (B2) en el Ciclo Superior de la Escuela Oficial de Idiomas
								</li>
								<li>
									Trece meses de estancia en Italia
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
			<li class="cvlist__item">
				<div class="cvlist__item__label">Portugués</div>
				<ul class="cvlist__subitems">
					<li class="cvlist__subitem">
						<div class="cvlist__title">
							<ul>
								<li>Expresión oral | Alto</li>
								<li>Expresión escrita | Alto</li>
								<li>Comprensión | Alto</li>
							</ul>
						</div>
						<div class="cvlist__masinfo">
							<ul>
								<li>
									Curso de portugués para extranjeros (A1/A2) - LanguageCraft
								</li>
								<li>
									Dos años de estancia en Portugal
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
			<li class="cvlist__item">
				<div class="cvlist__item__label">Árabe</div>
				<ul class="cvlist__subitems">
					<li class="cvlist__subitem">
						<div class="cvlist__title">
							<ul>
								<li>Expresión oral | Bajo</li>
								<li>Expresión escrita | Bajo</li>
								<li>Comprensión | Bajo</li>
							</ul>
						</div>
						<div class="cvlist__masinfo">
							<ul>
								<li>
									Curso Árabe Moderno Estándar (AME) I, II y III - Casa Árabe.
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>