<section id="intro" class="body">
	<h1>En pocas palabras...</h1>
	<div class="carrusel__content">
		<p>Me llamo <strong>Ignacio Díaz-Roncero Fraile.</strong> Nací <span class="hidden">el <time datetime="1986-04-18" itemprop="birthDate">18 de Abril de 1986</time></span>hace 30 años en <span itemprop="birthPlace">Zaragoza</span>, pero me crié en Soria.</p>
		<p>Desde 2012 me dedico profesionalmente al diseño y desarrollo web. Mi perfil es el de un <strong><a class="flkty__link" href="#toolbox">front-end developer</a></strong> especializado en comunicación digital y con conocimientos de back-end y sysadmin.</p>
		<p>He liderado más de <strong><a class="flkty__link" href="#portfolio-1">una decena de proyectos web</a></strong>, muchos de los cuales relacionados con la comunicación y el <strong>periodismo.</strong></p>
		<p><a class="flkty__link" href="#cv-estudios">Estudié</a> en Madrid y Perugia.Soy licenciado en <strong>Periodismo</strong>, máster en <strong>Relaciones Internacionales</strong> y máster en <strong>Estudios Árabes e Islámicos.</strong></p>
		<p>He vivido en Italia (Perugia, Florencia) y en Portugal (Lisboa). <a class="flkty__link" href="#cv-idiomas">Hablo</a> excelente italiano e inglés y portugués alto.</p>
	</div>
</section>