<section id="cv-meritos" class="body">
	<h1>Méritos</h1>
	<ul class="carrusel__content cvlist">
		<li class="cvlist__item">
			<div class="cvlist__item__label">2016</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<div class="cvlist__title">
						<ul>
							<li>Web Workflows with Grunt.js</li>
							<li>Up and running with ECMAScript 6</li>
						</ul>
					</div>
					<p class="cvlist__subtitle">Lynda.com</p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">2015</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<div class="cvlist__title">
						<ul>
							<li>Git Essential Trainig</li>
							<li>Ruby on Rails 4 Essential Trainig</li>
						</ul>
					</div>
					<p class="cvlist__subtitle">Lynda.com</p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">2014</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Desarrollo en HTML5, CSS y Javascript de WebApps, incluyendo móviles FirefoxOS</p>
					<p class="cvlist__subtitle">Miríada X</p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">2013</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">The Law of the European Union: An Introduction</p>
					<p class="cvlist__subtitle">Coursera</p>
				</li>
				<li class="cvlist__subitem">
					<p class="cvlist__title">International Organizations Management</p>
					<p class="cvlist__subtitle">Coursera</p>
				</li>
				<li class="cvlist__subitem">
					<p class="cvlist__title">21st Century American Foreign Policy</p>
					<p class="cvlist__subtitle">Coursera</p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">2012</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Creación, programación y diseño de páginas web dinámicas</p>
					<p class="cvlist__subtitle">EDITrain</p>
					<p class="cvlist__masinfo">Curso de 240 horas</p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">2011</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Conferencia: Reflexiones sobre las revueltas del Magreb</p>
					<p class="cvlist__subtitle">Universidad Autónoma de Madrid</p>
					<p class="cvlist__masinfo">Clase impartida en el seminario del Máster en Filosofía de la Historia: Democracia y orden mundial</p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">2008</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Diálogo de Civilizaciones: el Islam y Occidente</p>
					<p class="cvlist__subtitle">Universidad Complutense de Madrid</p>
					<p class="cvlist__masinfo">Curso de 100 horas </p>
				</li>
			</ul>
		</li>
		<li class="cvlist__item">
			<div class="cvlist__item__label">2007</div>
			<ul class="cvlist__subitems">
				<li class="cvlist__subitem">
					<p class="cvlist__title">Semiótica discursiva, lecturas de la cultura de masas</p>
					<p class="cvlist__subtitle">La Casa Encendida</p>
					<p class="cvlist__masinfo">Curso de 15 horas </p>
				</li>
			</ul>
		</li>
	</ul>
</section>