<nav class="column-nav init">
	<ul id="main-menu">
		<li class="menu-item menu-item--active"><a class="to-diapo" href="#intro">Introducción</a></li>
		<li class="menu-item">
			<a class="to-secondary" href="#cv-menu">C.V.</a>
			<div class="secondary-menu" id="cv-menu">
				<h2 class="secondary-menu__title">C.V.</h2>
				<ul class="secondary-menu__list">
					<li class="menu-item"><a class="to-diapo" href="#cv-laboral">Experiencia Laboral</a></li>
					<li class="menu-item"><a class="to-diapo" href="#cv-estudios">Estudios</a></li>
					<li class="menu-item"><a class="to-diapo" href="#cv-idiomas">Idiomas</a></li>
					<li class="menu-item"><a class="to-diapo" href="#cv-publicaciones">Publicaciones</a></li>
					<li class="menu-item"><a class="to-diapo" href="#cv-meritos">Otros</a></li>
					<li class="menu-item"><small class="to-primary">Volver</small></li>
				</ul>
			</div>
		</li>
		<li class="menu-item">
			<a class="to-secondary" href="#portfolio-menu">Portfolio</a>
			<div class="secondary-menu" id="portfolio-menu">
				<h2 class="secondary-menu__title">Portfolio</h2>
				<ul class="secondary-menu__list">
					<li class="menu-item"><a class="to-diapo" href="#portfolio-1">Cáñamo</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-2">El Estado Mental</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-3">DisparaMag</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-4">Barr-Paris</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-5">PirineosBlancos</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-6">2ymedios</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-7">Sailaway</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-8">Baïa</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-9">CITpax</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-10">ST/Projects</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-11">Aish</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-12">Panàdarío</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-13">Archivo Amazigh</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-14">Teim / Reim</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-15">OPEMAM</a></li>
					<li class="menu-item"><a class="to-diapo" href="#portfolio-16">Otros</a></li>
					<li class="menu-item"><small class="to-primary">Volver</small></li>
				</ul>
			</div>
		</li>
		<li class="menu-item"><a class="to-diapo" href="#toolbox">Toolbox</a></li>
		<!-- <li class="menu-item"><a class="to-diapo" href="#gitfeed">En directo</a></li> -->
		<li class="menu-item"><a class="to-diapo" href="#contacto">Contacto</a></li>
	</ul>
</nav>