<section id="toolbox" class="body">
	<h1>Toolbox</h1>
	<div class="carrusel__content" id="toolbox__list">
		<div class="toolbox__desc">
			<p>Esta lista pretende ser un cajón de sastre de todas las herramientas que uso en mi día a día: lenguajes, frameworks, software, plataformas, servicios, etcétera.</p>
			<div class="toolbox__filter">
				<input class="search" placeholder="Filtrar" />
				<button class="sort" data-sort="tool__name">
				Ordenar por nombre
				</button>
				<button class="shuffle">
				Agitar
				</button>
				<p>Prueba a filtrar las herramientas usando nombres como "Jekyll" o palabras clave como "html, "task runner", "js", "git", "servidor", etc...</p>
			</div>
		</div>
		<ul class="toolbox">
			<li class="git">
				<span class="devicons devicons-git"></span>
				<span class="tool__name">Git</span>
				<div class="tool__tags hidden">
					git repositorio versiones
				</div>
			</li>
			<li class="bitbucket">
				<span class="devicons devicons-bitbucket"></span>
				<span class="tool__name">Bitbucket</span>
				<div class="tool__tags hidden">
					git bucket repositorio versiones
				</div>
			</li>
			<li class="github">
				<span class="devicons devicons-github_alt"></span>
				<span class="tool__name">Github</span>
				<div class="tool__tags hidden">
					git repositorio versiones
				</div>
			</li>
			<li class="ror">
				<span class="devicons devicons-ruby_on_rails"></span>
				<span class="tool__name">Ruby on Rails</span>
				<div class="tool__tags hidden">
					ruby rails ror cms lenguaje programación back-end server-side código cli
				</div>
			</li>
			<li class="markdown">
				<span class="devicons devicons-markdown"></span>
				<span class="tool__name">Markdown</span>
				<div class="tool__tags hidden">
					markdown html marcado jekyll
				</div>
			</li>
			<li class="php">
				<span class="devicons devicons-php"></span>
				<span class="tool__name">PHP</span>
				<div class="tool__tags hidden">
					php lenguaje programación back-end server-side código
				</div>
			</li>
			<li class="mysql">
				<span class="devicons devicons-mysql"></span>
				<span class="tool__name">MySQL</span>
				<div class="tool__tags hidden">
					mysql bases datos phpmyadmin sql back-end
				</div>
			</li>
			<li class="js">
				<span class="devicons devicons-javascript"></span>
				<span class="tool__name">Javascript</span>
				<div class="tool__tags hidden">
					javascript client-side js lenguaje programacion código
				</div>
			</li>
			<li class="jquery">
				<span class="devicons devicons-jquery"></span>
				<span class="tool__name">jQuery</span>
				<div class="tool__tags hidden">
					javascript jquery js lenguaje programacion código ux
				</div>
			</li>
			<li class="modernizr">
				<span class="devicons devicons-modernizr"></span>
				<span class="tool__name">Modernizr</span>
				<div class="tool__tags hidden">
					feature detection js librerias libraries cross-browser
				</div>
			</li>
			<li class="jquery-ui">
				<span class="devicons devicons-jquery_ui"></span>
				<span class="tool__name">jQuery UI</span>
				<div class="tool__tags hidden">
					javascript jquery js lenguaje programacion código ux ui interfaz plugin
				</div>
			</li>
			<li class="node">
				<span class="devicons devicons-nodejs_small"></span>
				<span class="tool__name">NodeJS</span>
				<div class="tool__tags hidden">
					javascript jquery js lenguaje programacion framework server-side servidor node nodejs npm
				</div>
			</li>
			<li class="bootstrap">
				<span class="devicons devicons-bootstrap"></span>
				<span class="tool__name">Bootstrap</span>
				<div class="tool__tags hidden">
					html html5 css css3 bootstrap twitter framework
				</div>
			</li>
			<li class="sass">
				<span class="devicons devicons-sass"></span>
				<span class="tool__name">Sass</span>
				<div class="tool__tags hidden">
					css preprocessor preprocesador scss sass compass css3 mixin
				</div>
			</li>
			<li class="compass">
				<span class="devicons devicons-compass"></span>
				<span class="tool__name">Compass</span>
				<div class="tool__tags hidden">
					css preprocessor preprocesador scss sass compass css3 mixin vertical-rhythm tipografia
				</div>
			</li>
			<li class="css">
				<span class="devicons devicons-css3"></span>
				<span class="tool__name">CSS3</span>
				<div class="tool__tags hidden">
					css css3 html
				</div>
			</li>
			<li class="html">
				<span class="devicons devicons-html5"></span>
				<span class="tool__name">HTML5</span>
				<div class="tool__tags hidden">
					html html5 marcado lenguaje hypertext markup
				</div>
			</li>
			<li class="jekyll">
				<span class="devicons devicons-jekyll_small"></span>
				<span class="tool__name">Jekyll</span>
				<div class="tool__tags hidden">
					static blog markdown diseño web estático
				</div>
			</li>
			<li class="drupal">
				<span class="devicons devicons-drupal"></span>
				<span class="tool__name">Drupal</span>
				<div class="tool__tags hidden">
					cms php LAMP gestor contenidos drush cli terminal
				</div>
			</li>
			<li class="wordpress">
				<span class="devicons devicons-wordpress"></span>
				<span class="tool__name">Wordpress</span>
				<div class="tool__tags hidden">
					cms php LAMP gestor contenidos
				</div>
			</li>
			<li class="grunt">
				<span class="devicons devicons-grunt"></span>
				<span class="tool__name">Grunt</span>
				<div class="tool__tags hidden">
					js tareas task runner nodejs npm gem
				</div>
			</li>
			<li class="bower">
				<span class="devicons devicons-bower"></span>
				<span class="tool__name">Bower</span>
				<div class="tool__tags hidden">
					js tareas task runner cli terminal
				</div>
			</li>
			<li class="npm">
				<span class="devicons devicons-npm"></span>
				<span class="tool__name">NPM</span>
				<div class="tool__tags hidden">
					nodejs node package manager cli
				</div>
			</li>
			<li class="windows">
				<span class="devicons devicons-windows"></span>
				<span class="tool__name">Windows</span>
				<div class="tool__tags hidden">
					OS sistema operativo
				</div>
			</li>
			<li class="linux">
				<span class="devicons devicons-linux"></span>
				<span class="tool__name">Linux</span>
				<div class="tool__tags hidden">
					OS sistema operativo bash
				</div>
			</li>
			<li class="ubuntu">
				<span class="devicons devicons-ubuntu"></span>
				<span class="tool__name">Ubuntu</span>
				<div class="tool__tags hidden">
					OS sistema operativo debian bash
				</div>
			</li>
			<li class="mac">
				<span class="devicons devicons-apple"></span>
				<span class="tool__name">Mac</span>
				<div class="tool__tags hidden">
					OS sistema operativo bash
				</div>
			</li>
			<li class="stackoverflow">
				<span class="devicons devicons-stackoverflow"></span>
				<span class="tool__name">Stack Overflow</span>
				<div class="tool__tags hidden">
					web diseño desarrollo comunidad
				</div>
			</li>
			<li class="codrops">
				<span class="devicons devicons-codrops"></span>
				<span class="tool__name">Codrops</span>
				<div class="tool__tags hidden">
					web diseño desarrollo comunidad noticias
				</div>
			</li>
			<li class="csstricks">
				<span class="devicons devicons-css_tricks"></span>
				<span class="tool__name">CSS-Tricks</span>
				<div class="tool__tags hidden">
					web diseño desarrollo comunidad noticias css
				</div>
			</li>
			<li class="smashing">
				<span class="devicons devicons-smashing_magazine"></span>
				<span class="tool__name">Smashing Magazine</span>
				<div class="tool__tags hidden">
					web diseño desarrollo comunidad noticias
				</div>
			</li>
			<li class="codepen">
				<span class="devicons devicons-codepen"></span>
				<span class="tool__name">Codepen</span>
				<div class="tool__tags hidden">
					web diseño desarrollo html css js playground
				</div>
			</li>
			<li class="hackernews">
				<span class="devicons devicons-hackernews"></span>
				<span class="tool__name">Hacker News</span>
				<div class="tool__tags hidden">
					web diseño desarrollo comunidad noticias
				</div>
			</li>
			<li class="w3c">
				<span class="devicons devicons-w3c"></span>
				<span class="tool__name">W3C</span>
				<div class="tool__tags hidden">
					estandar comunidad web consorcio accesibilidad
				</div>
			</li>
			<li class="terminal">
				<span class="devicons devicons-terminal"></span>
				<span class="tool__name">Terminal</span>
				<div class="tool__tags hidden">
					bash terminal unix linux cli
				</div>
			</li>
			<li class="responsive">
				<span class="devicons devicons-responsive"></span>
				<span class="tool__name">Responsive</span>
				<div class="tool__tags hidden">
					diseño web html css js media query queries mobile-first
				</div>
			</li>
			<li class="mailchimp">
				<span class="devicons devicons-mailchimp"></span>
				<span class="tool__name">Mailchimp</span>
				<div class="tool__tags hidden">
					mail relay correo electronico
				</div>
			</li>
			<li class="sublime">
				<span class="devicons devicons-sublime"></span>
				<span class="tool__name">Sublime Text</span>
				<div class="tool__tags hidden">
					editor interfaz ui codigo software
				</div>
			</li>
			<li class="aws">
				<span class="devicons devicons-aws"></span>
				<span class="tool__name">AWS</span>
				<div class="tool__tags hidden">
					amazon web services bases datos instancias cloud bucket servidor vps
				</div>
			</li>
			<li class="digitalocean">
				<span class="devicons devicons-digital-ocean"></span>
				<span class="tool__name">Digital Ocean</span>
				<div class="tool__tags hidden">
					bases datos instancias cloud servidor vps
				</div>
			</li>
			<li class="illustrator">
				<span class="devicons devicons-illustrator"></span>
				<span class="tool__name">Illustrator</span>
				<div class="tool__tags hidden">
					software adobe diseño grafico vector vectorial
				</div>
			</li>
			<li class="photoshop">
				<span class="devicons devicons-photoshop"></span>
				<span class="tool__name">Photoshop</span>
				<div class="tool__tags hidden">
					software adobe diseño grafico bitmap vector
				</div>
			</li>
			<li class="gitkraken">
				<span class="devicons">
					include "svg/gitkraken.svg"
				</span>
				<span class="tool__name">GitKraken</span>
				<div class="tool__tags hidden">
					software adobe diseño grafico bitmap vector
				</div>
			</li>
			<li class="indesign">
				<span class="devicons">
					include "svg/indesign.svg"
				</span>
				<span class="tool__name">InDesign</span>
				<div class="tool__tags hidden">
					software adobe diseño grafico bitmap vector
				</div>
			</li>
			<li class="soundmanager">
				<span class="devicons devicons">
					include "svg/soundmanager.svg"
				</span>
				<span class="tool__name">SoundManager2</span>
				<div class="tool__tags hidden">
					software adobe diseño grafico bitmap vector
				</div>
			</li>
			<li class="susy">
				<span class="devicons">
					include "svg/susy.svg"
				</span>
				<span class="tool__name">Susy</span>
				<div class="tool__tags hidden">
					software adobe diseño grafico bitmap vector
				</div>
			</li>
			<li class="foundation">
				<span class="devicons">
					include "svg/foundation.svg"
				</span>
				<span class="tool__name">Foundation</span>
				<div class="tool__tags hidden">
					software adobe diseño grafico bitmap vector
				</div>
			</li>
			<li class="gitflow">
				<span class="devicons devicons-git_merge"></span>
				<span class="tool__name">Git Flow</span>
				<div class="tool__tags hidden">
					git flow versiones repositorio
				</div>
			</li>
			<li class="emmet">
				<span class="devicons devicons-code"></span>
				<span class="tool__name">Emmet</span>
				<div class="tool__tags hidden">
					emmet html sublime text editor
				</div>
			</li>
			<li class="twig">
				<span class="devicons devicons-code"></span>
				<span class="tool__name">Twig</span>
				<div class="tool__tags hidden">
					html php twig symfony template templating language markup drupal
				</div>
			</li>
			<li class="liquid">
				<span class="devicons devicons-code"></span>
				<span class="tool__name">Liquid</span>
				<div class="tool__tags hidden">
					html liquid shopify template templating language markup
				</div>
			</li>
			<li class="ga">
				<span class="devicons devicons-chrome"></span>
				<span class="tool__name">Google Analytics</span>
				<div class="tool__tags hidden">
					google analytics seo search engine optimization
				</div>
			</li>
			<li class="rdfa">
				<span class="devicons devicons-code"></span>
				<span class="tool__name">Microdata / RDFa</span>
				<div class="tool__tags hidden">
					microdata rdfa seo search engine optimization
				</div>
			</li>
			<li class="opengraph">
				<span class="devicons devicons-code"></span>
				<span class="tool__name">Open Graph</span>
				<div class="tool__tags hidden">
					metadata facebook seo search engine optimization
				</div>
			</li>
			<li class="webpack">
				<span class="devicons devicons-code"></span>
				<span class="tool__name">Webpack</span>
				<div class="tool__tags hidden">
					webpack js javascript task runner bundle
				</div>
			</li>
			<li class="webpack">
				<span class="devicons devicons-visualstudio"></span>
				<span class="tool__name">Visual Studio</span>
				<div class="tool__tags hidden">
					visual studio windows codigo IDE
				</div>
			</li>
		</ul>
	</div>
</section>