// Global box-sizing
* {
	box-sizing:border-box;
	// Wireframes!!
	// outline: 1px solid #eee;
}

p {
	@include adjust-font-size-to($h5);
	@include breakpoint($grande) {
		@include adjust-font-size-to($base-font-size);
	}
}

.main-wrapper {
	border: 1vw solid $fosforito;
	@include breakpoint($grande) {
		max-width:2000px;
		height:100vh;
		margin:0;
		display:flex;
	}
}

.header-nav__wrapper {
	width:100%;
	display:flex;
	flex-direction:column;
	@include breakpoint($grande) {
		flex-direction:row;
		width:40%;
	}
}

.column-header {
	padding:0 rhythm(0.5);
	@include breakpoint($medio) {
		padding:0 rhythm(1);
	}
	font-weight:100;
	display:flex;
	justify-content:center;
	align-items:center;
	transition:left 0.75s ease-out;
	position:relative;
	z-index:2;
	left:0;
	width:100%;
	@include breakpoint($medio) {
		width:100%;
	}
	@include breakpoint($grande) {
		justify-content:space-between;
		align-items:flex-end;
		flex-direction:column;
		width:55%;
		&.init {
			left:-150%;
		}
	}
}

.column-nav {
	transition:left 0.75s ease-out 0.5s;
	position:relative;
	z-index:99;
	left:0;
	width:100%;
	@include breakpoint($medio) {
		width:100%;
	}
	@include breakpoint($grande) {
		width:45%;
		height:100vh;
		position:relative;
		top:-1vw;
		&.init {
			left:-250%;
		}
	}
}

.column-main {
	padding:0 rhythm(0.5);
	@include breakpoint($medio) {
		padding:0 rhythm(1);
	}
	font-weight:300;
	height:100%;
	position:relative; // para el pos.absolute de alt-nav
	transition:left 0.75s ease-out 1.5s;
	opacity:1;
	@include breakpoint($grande) {
		width:60%;
		&.init {
			opacity:0;
		}
	}
	@include breakpoint($screen){
		padding:0 rhythm(0.5) 0 rhythm(2);
	}
}

.column-header, .column-main {
	padding-top:rhythm(1);
	padding-bottom:rhythm(1);
}

// Imagenes RWD

img {
	max-width:100%;
	display:inline-block;
	vertical-align:bottom;
}

// Loading

.loading {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:$blanco;
	z-index:999;
}

// Version Tag

.version {
	@include adjust-font-size-to($enano);
	color:$gris_m;
	a, a:link, a:visited, a:hover, a:active {
		color:$gris_m;
	}
}

.theme {
	@include adjust-font-size-to($enano);
	color:$gris_m;
	a, a:link, a:visited, a:hover, a:active {
		color:$gris_m;
	}
}