				<section id="portfolio-13" class="body"> 
					<h1 class="hidden">Archivo Amazigh</h1>
					<div class="carrusel__content">
						<div class="cvlist__featured">
							<img src="images/amazigh.jpg" alt="Panadarío" >
						</div>
						<ul class="cvlist">
							<li class="cvlist__item">
								<div class="cvlist__item__label">Descripción</div>
								<ul class="cvlist__subitems">
									<p class="cvlist__subitem">
										El Archivo Documental y Audiovisual de la Diáspora Amazigh en España es un proyecto de investigación que tiene por objetivo crear un espacio digital a través del cual se puedan explorar y analizar las prácticas desarrolladas por la diáspora amazigh para comprender, representar y expresar su identidad, valores y creencias, así como las formas en las sus narrativas interaccionan con las instituciones y con el entorno social de los lugares en los que viven.
									</p>
								</ul>
							</li>
							<li class="cvlist__item">
								<div class="cvlist__item__label">Ficha</div>
								<ul class="cvlist__subitems">
									<li class="cvlist__subitem">
										<p class="cvlist__title">URL</p>
										<p class="cvlist__subtitle">
											<a href="http://amazigh.nacarestudio.com" target="_blank">EN CONSTRUCCIÓN</a>
										</p>
									</li>
									<li class="cvlist__subitem">
										<p class="cvlist__title">Inicio / fin del proyecto</p>
										<p class="cvlist__subtitle">
											Diciembre 2013 - Actualidad
										</p>
									</li>
									<li class="cvlist__subitem">
										<p class="cvlist__title">Responsabilidades</p>
										<div class="cvlist__subtitle">
											<ul>
												<li>Diseño y desarrollo web</li>
												<li>Sysadmin</li>
												<li>Gestión de contenidos</li>
												<li>Asesoría</li>
												<li>Hosting</li>
											</ul>
										</div>
									</li>
									<li class="cvlist__subitem">
										<p class="cvlist__title">Características técnicas</p>
										<div class="cvlist__subtitle">
											<ul>
												<li>Drupal 7</li>
												<li>SoundManager2</li>
											</ul>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</section>