<section id="portfolio-4" class="body">
	<h1 class="hidden">Barr-Paris</h1>
	<div class="carrusel__content">
		<div class="cvlist__featured">
			<img src="images/barr-paris.jpg" alt="Barr-Parius" >
		</div>
		<ul class="cvlist">
			<li class="cvlist__item">
				<div class="cvlist__item__label">Descripción</div>
				<ul class="cvlist__subitems">
					<p class="cvlist__subitem">
						Barr-Paris es un estudio independiente de diseño gráfico basado en París.
					</p>
				</ul>
			</li>
			<li class="cvlist__item">
				<div class="cvlist__item__label">Ficha</div>
				<ul class="cvlist__subitems">
					<li class="cvlist__subitem">
						<p class="cvlist__title">URL</p>
						<p class="cvlist__subtitle">
							<a href="http://barr-paris.com" target="_blank">http://barr-paris.com</a>
						</p>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Inicio / fin del proyecto</p>
						<p class="cvlist__subtitle">
							Febrero 2017
						</p>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Responsabilidades</p>
						<div class="cvlist__subtitle">
							<ul>
								<li>Desarrollador Web</li>
								<li>Alojamiento</li>
							</ul>
						</div>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Características técnicas</p>
						<div class="cvlist__subtitle">
							<ul>
								<li>
									Estática, alojada en Surge.sh
								</li>
								<li>
									Diseño responsive (RWD) mobile-first
								</li>
								<li>
									Layout drag & drop de desarrollo propio
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>