<section id="portfolio-9" class="body">
	<h1 class="hidden">CITpax</h1>
	<div class="carrusel__content">
		<div class="cvlist__featured">
			<img src="images/citpax.jpg" alt="CITpax" >
		</div>
		<ul class="cvlist">
			<li class="cvlist__item">
				<div class="cvlist__item__label">Descripción</div>
				<ul class="cvlist__subitems">
					<p class="cvlist__subitem">
						El Centro Internacional de Toledo para la Paz (CITpax) es una fundación sin ánimo de lucro cuyo objetivo es contribuir a la prevención y resolución de conflictos, y la construcción de la paz. CITpax asume que la búsqueda de la paz duradera implica la puesta en práctica de acciones de transformación social, desarrollo y fortalecimiento institucional.
					</p>
				</ul>
			</li>
			<li class="cvlist__item">
				<div class="cvlist__item__label">Ficha</div>
				<ul class="cvlist__subitems">
					<li class="cvlist__subitem">
						<p class="cvlist__title">URL</p>
						<p class="cvlist__subtitle">
							<a href="http://www.elestadomental.com" target="_blank">http://toledopax.org</a>
						</p>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Inicio / fin del proyecto</p>
						<p class="cvlist__subtitle">
							Abril 2013 - Julio 2013
						</p>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Responsabilidades</p>
						<div class="cvlist__subtitle">
							<ul>
								<li>Diseñador Web</li>
								<li>
									Desarrollador Web
								</li>
								<li>
									Sysadmin
								</li>
								<li>
									Gestor de contenidos
								</li>
								<li>
									Formación
								</li>
							</ul>
						</div>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Características técnicas</p>
						<div class="cvlist__subtitle">
							<ul>
							<li>CMS Drupal 7</li>
							<li>Diseño responsive (RWD) mobile-first</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>