<section id="portfolio-3" class="body">
	<h1 class="hidden">Dispara Mag</h1>
	<div class="carrusel__content">
		<div class="cvlist__featured zoomable">
			<img src="images/dispara_full.jpg" alt="El Estado Mental" >
		</div>
		<div class="zoomable__info">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="490" height="490" viewBox="0 0 490 490" enable-background="new 0 0 490 490" xml:space="preserve" class="zoomable__zoom"><path fill="none" stroke="#000000" stroke-width="50" stroke-linecap="round" d="M280 278c59.2-60.3 58.3-157.2-2-216.4s-157.2-58.3-216.4 2c-59.2 60.3-58.3 157.2 2 216.4 59.5 58.4 154.9 58.4 214.4 0l170 170M357 333l110 110 -26 26L331 359"/></svg>
				Clicar en la imagen activa el zoom | Mover el cursor mueve la imagen.
		</div>
		<ul class="cvlist">
			<li class="cvlist__item">
				<div class="cvlist__item__label">Descripción</div>
				<ul class="cvlist__subitems">
					<p class="cvlist__subitem">
						Dispara es una revista online de opinión política, cultural y social integrada en su inmensa mayoría por personas de entre 20 y 30 años. Estudiantes de ciencias políticas, periodismo, derecho, economía, filosofía, politólogos, periodistas, poetas, escritores, profesores, fotógrafos, diseñadores...
					</p>
				</ul>
			</li>
			<li class="cvlist__item">
				<div class="cvlist__item__label">Ficha</div>
				<ul class="cvlist__subitems">
					<li class="cvlist__subitem">
						<p class="cvlist__title">URL</p>
						<p class="cvlist__subtitle">
							<a href="http://www.elestadomental.com" target="_blank">http://disparamag.com</a>
						</p>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Inicio / fin del proyecto</p>
						<p class="cvlist__subtitle">
							Noviembre 2015 - Enero 2016 (desarrollo) <br>
							Enero 2016 - Actualidad (mantenimiento / sysadmin)
						</p>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Responsabilidades</p>
						<div class="cvlist__subtitle">
							<ul>
								<li>Desarrollador Web
								</li>
								<li>Sysadmin</li>
								<li>Formación</li>
							</ul>
						</div>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Características técnicas</p>
						<div class="cvlist__subtitle">
							<ul>
							<li>CMS Drupal 7</li>
							<li>Diseño responsive (RWD) mobile-first</li>
							<li>SEO</li>
							<li>Desarrollo de plug-ins propios en javascript</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>