<section id="portfolio-2" class="body">
	<h1 class="hidden">El Estado Mental</h1>
	<div class="carrusel__content">
		<div class="cvlist__featured zoomable">
			<img src="images/eem_full.jpg" alt="El Estado Mental" >
		</div>
		<div class="zoomable__info">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="490" height="490" viewBox="0 0 490 490" enable-background="new 0 0 490 490" xml:space="preserve" class="zoomable__zoom"><path fill="none" stroke="#000000" stroke-width="50" stroke-linecap="round" d="M280 278c59.2-60.3 58.3-157.2-2-216.4s-157.2-58.3-216.4 2c-59.2 60.3-58.3 157.2 2 216.4 59.5 58.4 154.9 58.4 214.4 0l170 170M357 333l110 110 -26 26L331 359"/></svg>
				Clicar en la imagen activa el zoom | Mover el cursor mueve la imagen.
		</div>
		<ul class="cvlist">
			<li class="cvlist__item">
				<div class="cvlist__item__label">Descripción</div>
				<ul class="cvlist__subitems">
					<p class="cvlist__subitem">
						El Estado Mental es un proyecto multiplataforma de observación que tiene como objeto la difusión del pensamiento contemporáneo. Se editó en formato revista física y digital hasta Noviembre de 2015, y en formato exclusivamente digital desde entonces.
						Su director es Borja Casani.
					</p>
				</ul>
			</li>
			<li class="cvlist__item">
				<div class="cvlist__item__label">Ficha</div>
				<ul class="cvlist__subitems">
					<li class="cvlist__subitem">
						<p class="cvlist__title">URL</p>
						<p class="cvlist__subtitle">
							<a href="http://www.elestadomental.com" target="_blank">http://elestadomental.com</a>
						</p>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Inicio / fin del proyecto</p>
						<p class="cvlist__subtitle">
							Octubre 2013 - Diciembre 2016
						</p>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Responsabilidades</p>
						<div class="cvlist__subtitle">
							<ul>
								<li>Diseñador Web</li>
								<li>Desarrollador Web</li>
								<li>Diseñador gráfico</li>
								<li>Sysadmin</li>
								<li>Webmaster</li>
								<li>Redactor</li>
							</ul>
						</div>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Características técnicas</p>
						<div class="cvlist__subtitle">
							<ul>
								<li>
									CMS Drupal 7
								</li>
								<li>
									Diseño responsive (RWD) mobile-first
								</li>
								<li>
									Radio online de desarrollo propio usando SoundManager2
								</li>
								<li>
									e-commerce usando Drupal Commerce
								</li>
								<li>
									Sistema de paywall propio
								</li>
								<li>
									Sistema de suscripciones propio
								</li>
								<li>
									Servidor Memcache
								</li>
								<li>
									Servidor Solr
								</li>
								<li>
									SEO
								</li>
								<li>
									Conexión con apps vía REST API
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>