<section id="portfolio-15" class="body">
	<h1 class="hidden">OPEMAM</h1>
	<div class="carrusel__content">
		<div class="cvlist__featured zoomable">
			<img src="images/opemam_full.jpg" alt="OPEMAM" >
		</div>
		<div class="zoomable__info">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="490" height="490" viewBox="0 0 490 490" enable-background="new 0 0 490 490" xml:space="preserve" class="zoomable__zoom"><path fill="none" stroke="#000000" stroke-width="50" stroke-linecap="round" d="M280 278c59.2-60.3 58.3-157.2-2-216.4s-157.2-58.3-216.4 2c-59.2 60.3-58.3 157.2 2 216.4 59.5 58.4 154.9 58.4 214.4 0l170 170M357 333l110 110 -26 26L331 359"/></svg>
				Clicar en la imagen activa el zoom | Mover el cursor mueve la imagen.
		</div>
		<ul class="cvlist">
			<li class="cvlist__item">
				<div class="cvlist__item__label">Descripción</div>
				<ul class="cvlist__subitems">
					<p class="cvlist__subitem">
						El proyecto fue creado en 2006 por un puñado de investigadores vinculados al TEIM. En la actualidad, el OPEMAM está compuesto por 23 miembros, entre directivos, investigadores asociados y colaboradores externos. Todos ellos investigadores especializados en cada uno de los países analizados. La mayoría de ellos provenientes de las Ciencias Políticas y los Estudios Árabes e Islámicos, y muchos de ellos formados en el Programa de Estudios Internacionales Mediterráneos de la Universidad Autónoma de Madrid.
					</p>
				</ul>
			</li>
			<li class="cvlist__item">
				<div class="cvlist__item__label">Ficha</div>
				<ul class="cvlist__subitems">
					<li class="cvlist__subitem">
						<p class="cvlist__title">URL</p>
						<p class="cvlist__subtitle">
							<a href="http://www.opemam.org/" target="_blank">http://www.opemam.org/</a>
						</p>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Inicio / fin del proyecto</p>
						<p class="cvlist__subtitle">
							Abril 2012 - Octubre 2012
						</p>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Responsabilidades</p>
						<div class="cvlist__subtitle">
							<ul>
								<li>Diseño web</li>
								<li>Asesoría</li>
							</ul>
						</div>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Características técnicas</p>
						<div class="cvlist__subtitle">
							<ul>
								<li>CMS Drupal 7</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>