<section id="portfolio-11" class="body">
	<h1 class="hidden">Panàdarío</h1>
	<div class="carrusel__content">
		<div class="cvlist__featured">
			<img src="images/panadario.jpg" alt="Panadarío" >
		</div>
		<ul class="cvlist">
			<li class="cvlist__item">
				<div class="cvlist__item__label">Descripción</div>
				<ul class="cvlist__subitems">
					<p class="cvlist__subitem">
						Panàdarío es un productor de pan artesano.
					</p>
				</ul>
			</li>
			<li class="cvlist__item">
				<div class="cvlist__item__label">Ficha</div>
				<ul class="cvlist__subitems">
					<li class="cvlist__subitem">
						<p class="cvlist__title">URL</p>
						<p class="cvlist__subtitle">
							<a href="http://www.panadario.es" target="_blank">http://panadario.es</a>
						</p>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Inicio / fin del proyecto</p>
						<p class="cvlist__subtitle">
							Marzo 2015 - Agosto 2015
						</p>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Responsabilidades</p>
						<div class="cvlist__subtitle">
							<ul>
								<li>Diseño y desarrollo web</li>
								<li>Sysadmin</li>
								<li>Formación</li>
							</ul>
						</div>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Características técnicas</p>
						<div class="cvlist__subtitle">
							<ul>
								<li>Ruby on Rails 4.4</li>
								<li>Elastic Beanstalk (AWS)</li>
								<li>CMS propio adaptado a las necesidades de pedidos y contacto de la web</li>
								<li>Servidor SMTP</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>