<section id="portfolio-7" class="body"> 
	<h1 class="hidden">Sailaway</h1>
	<div class="carrusel__content">
		<div class="cvlist__featured cvlist__featured--full">
			<img src="images/sailaway.jpg" alt="Sailaway">
		</div>
		<ul class="cvlist">
			<li class="cvlist__item">
				<div class="cvlist__item__label">Descripción</div>
				<ul class="cvlist__subitems">
					<p class="cvlist__subitem">
						SailAway Festival es uno de los festivales de música electrónica más trascendentes del panorama europeo por su exclusiva edición a bordo de un ferry de lujo. 
					</p>
				</ul>
			</li>
			<li class="cvlist__item">
				<div class="cvlist__item__label">Ficha</div>
				<ul class="cvlist__subitems">
					<li class="cvlist__subitem">
						<p class="cvlist__title">URL</p>
						<p class="cvlist__subtitle">
							http://sailawayfestival.com (offline)
						</p>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Inicio / fin del proyecto</p>
						<p class="cvlist__subtitle">
							Diciembre 2015 - Febrero 2016
						</p>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Responsabilidades</p>
						<div class="cvlist__subtitle">
							<ul>
								<li>Desarrollador Web</li>
								<li>Configuración y actualización</li>
								<li>Formación</li>
							</ul>
						</div>
					</li>
					<li class="cvlist__subitem">
						<p class="cvlist__title">Características técnicas</p>
						<div class="cvlist__subtitle">
							<ul>
								<li>CMS Drupal 8</li>
								<li>Diseño responsive (RWD) mobile-first</li>
								<li>Desarrollo de soluciones propias en jQuery para la interfaz de usuario</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>