button {
	background:$color-secundario;
	border:none;
	@include adjust-font-size-to($smaller);
	font-weight:bold;
	text-transform:uppercase;
	color:$blanco;
	vertical-align:middle;
	padding:1px 6px 0 6px;
}

input {
	border:none;
	border-bottom:1px solid $gris_m;
	padding: 0 0 0 3px;
	vertical-align:middle;
	@include adjust-leading-to(1);
	&:focus {
		outline:none;
		background-color:$marker;
	}
}
