// Esconde ítems visualmente sin extraerlos de los screen readers, etc...
// Extraído de http://www.sitepoint.com/when-and-how-to-visually-hide-content/

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}


// Scrollbars para webkit
// Creado con http://mikethedj4.github.io/Webkit-Scrollbar-Generator/


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $gris_c;
  border: none;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: $negro;
}
::-webkit-scrollbar-thumb:active {
  background: $negro;
}
::-webkit-scrollbar-track {
  background: $blanco;
  border: none;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: $humo;
}
::-webkit-scrollbar-track:active {
  background: $gris_c;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
