// En general, no queremos que los links se vean.

a:link {
	color:$color;
	text-decoration:none;
}
a:visited {
	color:$color;
}
a:focus, a:hover {
	color:tint($color, 25%);
}
a:active {
	color:$color;
}

// En algunos casos, queremos que sean bien visibles.
.body {
	a:link {

	}
	a:visited {	

	}
	a:focus, a:hover {	

	}
	a:active {	

	}
}

// Y en otros, que queden atenuados y se vuelvan oscuros al hover

.menu-item {
	a:link {
		color:$gris_mc;
		text-decoration:none;
	}
	a:visited {
		color:$gris_mc;
	}
	a:focus, a:hover {
		color:$negro;
	}
	a:active {
		color:$gris_mc;
	}
}
