@include establish-baseline(); // Mixin de Compass que se encarga de configurar los valores de html

body {
	color:$color;
	font-family:$base-font;
}
// La vida es más sencilla cuando sólo hay una dirección de margin.
// Se evita el colapso de dos márgenes y espaciados indeseados según valores de display
h1,h2,h3,h4,ul,p {
		margin:0 0 rhythm(1) 0;
}

h1,h2,h3,h4 {
	color:$color-title;
}

h1 {
	@include adjust-font-size-to($h1);
	font-weight:100;
}

h2 {
	@include adjust-font-size-to($h2);
	@include adjust-leading-to(1.25);
}

h3 {
	@include adjust-font-size-to($h3)
}

h4 {
	@include adjust-font-size-to($h4)
}

small {
	@include adjust-font-size-to($small)
}