.alt-nav {
	display:none;
	@include breakpoint($grande) {
		display:block;
		position:absolute;
		bottom:rhythm(0.5);
		right:rhythm(0.5);
		left:rhythm(2);
		box-shadow:-10px 0px 20px -5px $humo inset;
	}
	background:$blanco;
	padding-right:1px;
}

.alt-nav__list {
	margin:0;
	padding:0;
}

.alt-nav__item {
	list-style-type:none;
	box-sizing:content-box;
	white-space:nowrap;
	padding:0 rhythm(0.5);
	span {
		//color:$blanco;
		font-weight:bold;
		display:inline-block;
		position:relative;
		font-weight:bold;
	}
	@include adjust-font-size-to($smaller);
	color:$gris_m;
	&.is-selected {
		background:$gris_m;
		color:$blanco;
		position:relative;
		font-weight:bold;
	}
}

.alt-nav__item--separador{
	padding:0 rhythm(0.5);
}

.alt-nav__item--separadorl{
	padding:0 0 0 rhythm(0.5);
}