.carrusel section {
	h1, h2, h3 {
		font-family:$alt-font;
	}
	h1 {
		@include adjust-font-size-to($h2);
		text-align:center;
		@include breakpoint($grande) {
			text-align:left;
			@include adjust-font-size-to($h12, 2);
		}
		@include breakpoint($screen) {
			@include adjust-font-size-to($h1, 2.25);
		}
		font-weight:100;
	}
	h3 {
		font-weight:400;
	}
	@include breakpoint($medio) {
		height:100%;
		display:flex;
		flex-direction:column;
		justify-content:flex-start;
	}
	// @include breakpoint($grande) {
	// 	justify-content:center; // Tenemos que mirar esto en el ipad...
	// }
}

.carrusel {
	margin-bottom:rhythm(1); // para separar el alt-nav
	height:auto;
	@include breakpoint($medio) {
		height:500px;
	}
	@include breakpoint($grande) {
		height:100%;
		margin-bottom:0;
	}
}

.carrusel__content {
	overflow-y:auto;
	padding-right:15px; // Espacio para el scroll
	flex:1; // Necesario para evitar bug de Safarie
}

.u-marker {
	border-bottom: 2px solid $marker;
}