.column-nav {
	// Necesario para mover los menús
	position:relative;
	overflow:hidden;
	font-family:$alt-font;
	background:$humo;
	&.secondary-on {
		#main-menu {
			left:-100%;
		}
	}
	padding:0;
	// @include breakpoint($grande) {
	// 	padding-top:rhythm(1);
	// 	padding-bottom:rhythm(1);
	// }
}

// Menú de contenidos
#main-menu {
	margin:0;
	font-weight:400;
	padding:rhythm(1);
	text-align:center;
	position:relative;
	left:0%;
	transition:left 0.5s ease-in-out;
	@include breakpoint($grande) {
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		display:flex;
		flex-direction:column;
		justify-content:flex-start;
		text-align:left;
		padding:rhythm(1.5) rhythm(1);
	}
}

.menu-item {
	list-style-type:none;
	cursor:pointer;
	margin-bottom:rhythm(0.5);
	@include breakpoint($medio $grande) {
		padding:0 rhythm(0.5);
		margin-bottom:0;
		display:inline-block;
	}
	> a {
		@include adjust-font-size-to($h4, 1);
		@include breakpoint($grande $screen) {
			@include adjust-font-size-to($base-font-size, 1);
		}
		display:inline-block;
		@include breakpoint($grande) {
			display:block;
		}
		position:relative;
		font-weight:100;
	};
	&:last-child {
		margin-bottom:0;
	}
}

.menu-item--active {
	> a, > a:link, > a:visited, > a:focus, > a:hover, > a:active  {
		color:$negro;
		box-shadow: 0px -4px 0px $gris_c inset;
		z-index:1;
	}
}

.secondary-menu {
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	left:100%;
	width:100%;
	height:100%;
	padding: rhythm(1);
	@include breakpoint($medio $grande) {
		height:auto;
	}
	@include breakpoint($grande) {
		padding:rhythm(1) 0;
	}
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	overflow-y: auto;
}

.secondary-menu__list {
	margin:0;
	padding:0 rhythm(1);
	// li a:before {
	// 	outline: 2px solid $color-secundario;
	// }
	@include breakpoint($medio $grande) {
		margin-bottom:rhythm(1);
	}
}

.secondary-menu__title {
	@include adjust-font-size-to($h3);
	font-weight:400;
	margin-bottom:rhythm(1);
	padding:rhythm(0) rhythm(1);
	font-weight:bold;
	color:$negro;
	// background:$blanco;
	box-sizing:content-box;
}