.column-header {
	background:$blanco;
	text-align:right;
	h2, p {color:$color-destacado;}
	h2 {
		font-weight:900;
		// Finura máxima en el RWD
		letter-spacing:-0.1rem;
		margin-bottom: rhythm(0.5);
		@include breakpoint($grande) {
			@include adjust-font-size-to($h2);
			@include adjust-leading-to(1.27);

		}
		@include breakpoint($screen) {
			@include adjust-font-size-to($h12);
			@include adjust-leading-to(1.27);
		}
	}
	p {
		@include adjust-leading-to(0.75);
		font-weight:400;
	}
}

.miniyo {
	position:relative;
	margin-left:rhythm(0.5);
	@include breakpoint($medio){
		margin-right:0;
	}
	img {
		border-radius:50%;
		max-height:rhythm(5.75);
	}
	// &:after {
	// 	content:"";
	// 	border-color:transparent $humo $humo transparent;
	// 	border-width:rhythm(0.7) rhythm(0.3);
	// 	border-style:solid;
	// 	position:absolute;
	// 	top:50%;
	// 	transform: translateY(-100%);
	// 	right:rhythm(-1);
	// 	margin-right:-3px;
	// 	display:none;
	// }
	// &:before {
	// 	content:"";
	// 	border-color:transparent $color-destacado $color-destacado transparent;
	// 	border-width:rhythm(0.7) rhythm(0.3);
	// 	border-style:solid;
	// 	position:absolute;
	// 	top:50%;
	// 	transform: translateY(-100%);
	// 	right:rhythm(-1);
	// 	margin: 4px 0 0 0;
	// 	display:none;
	// }
	@include breakpoint($grande) {
		&:before, &:after {
			display:block;
		}
	}
}

.miniyo--square {
	img {
		border-radius:0;
	}
}

.tagline {
	@include breakpoint($medio $grande) {
		margin-right:rhythm(1);
		padding-right:rhythm(1);
		border-right:4px solid $color-destacado;
	}
	p {
		margin:0;
	}
}