#contacto {
	justify-content:center;
}

.contacto {
	margin:0;
	padding:0;
	li {
		list-style-type:none;
		display:flex;
		justify-content:center;
		margin-bottom:rhythm(0.5);
		align-items:center;
		i {
			@include adjust-font-size-to($h4);
			margin-right:rhythm(1);
		}
	}
}
