.cvlist {
	margin:0;
	padding:0;
}

.cvlist__item {
	list-style-type:none;
	font-family:$alt-font;
	@include breakpoint($medio) {
		display:flex;
		justify-content:space-between;
	}
}

.cvlist__item__label {
	font-weight:bold;
	border-bottom:1px dotted $gris_m;
	padding-bottom:rhythm(0.5);
	margin-bottom:rhythm(0.5);
	color:$color-destacado;
	@include breakpoint($medio) {
		width:20%;
		margin-right:rhythm(1);
		padding-right:rhythm(1);
		padding-bottom:rhythm(1);
		color:$negro;
		margin-bottom:0;
		border-right:1px dotted $gris_m;
		border-bottom:none;
		@include adjust-font-size-to($h5,0.75);
	}
}

.cvlist__subitems {
	flex:1;
	margin:0;
	padding:0 0 rhythm(1) 0;
}

.cvlist__subitem {
	list-style-type:none;
	margin-bottom:rhythm(1);
	&:last-child {
		margin-bottom:0;
	}
}

.cvlist__title {
	font-weight:600;
	border-bottom:1px solid $humo;
	padding-bottom:rhythm(0.25);
	margin:0 0 rhythm(0.25) 0;
}

.cvlist__subtitle {
	color:$gris_m;
	@include adjust-font-size-to($h5);
	margin-bottom:rhythm(0.5);
}

.cvlist__title {
	ul {
		margin:0;
		padding:0;
		li {
			list-style-type:none;
		}
	}
} // Pueden contener listados: queremos la semántica pero no la visualización

.cvlist__subtitle, .cvlist__masinfo {
	ul {
		margin:0;
		padding:0 0 0 15px;
		li {
			list-style-type:circle;
		}
	}
	small {
		@include adjust-font-size-to($smaller);
	}
}


.cvlist__masinfo {
	@include adjust-font-size-to($small);
	@include adjust-leading-to(0.75);
	margin:0;
	strong { // Texto enfatizado
		border-bottom: 2px solid $marker;
		font-weight:inherit;
	}
}

.flkty__link { // Texto enfatizado
	box-shadow: 0px -5px 0px 0px rgba($marker, 0.25) inset;
	border-bottom: 2px solid rgba($marker, 0.25);
	font-weight:inherit;
	&:hover {
		box-shadow: 0px -5px 0px 0px $marker inset;
		border-bottom-color: $marker;
	}
}

.cvlist__featured {
	img {
		display:block;
		height:350px;
		margin:0 auto;
	}
	&.zoomable {
	  width:100%;
	  height:350px;
	  margin-bottom:0;
	  cursor:zoom-in;
	  .zoomImg {
	  	width:100% !important;
	  	height:auto !important;
	  }
	  img {
	  	width:100%;
	  	@include breakpoint($grande) {
	    	width:70%;
		}
	    margin:0 auto;
	    height:auto;
	  }
	}
	margin-bottom:rhythm(2);
}

.cvlist__featured--full {
}

.zoomable__info {
	text-align:center;
	@include adjust-font-size-to($enano);
	font-style:italic;
	margin-bottom:rhythm(2);
}

.zoomable__zoom {
	width:10px;
	height:10px;
	margin-right:5px;
}