.toolbox {
	margin:rhythm(1) 0;
	padding:0;
	display:flex;
	flex-wrap:wrap;
	li {
		width:48.5%;
		@include breakpoint($medio) {
			width:31.8%
		}
		@include breakpoint($grande) {
			width:18.5%;
		}
		margin-bottom:rhythm(0.5);
		padding:rhythm(0.5) 0;
		margin-right:1.5%;
		background:$gris_c;
		.devicons {
			@include adjust-font-size-to(3.5 * $base-font-size);
			line-height:1em;
			text-align:center;
			color:$negro;
			display:block;
			img, svg {
				display:block;
				margin:rhythm(0.25) auto;
				height:3 * $base-font-size;
				width:auto;
			}
		}
		list-style-type:none;
		&:hover {
			background:$negro;
			.tool__name {color:$blanco};
			.devicons, .devicons:after {color:$blanco;}
			.fill {fill:$blanco}
		}
	}
	&:after {
		content:"";
		flex:1 1 auto;
	}
}

.toolbox__desc {

}

.toolbox__filter {
	.search {
		width:100%;
		margin-bottom:rhythm(0.5);
		@include breakpoint($medio){
			margin-bottom:0;
			width: auto;
		}
	}
	p {
		margin-top:rhythm(0.25);
		@include adjust-font-size-to($smaller);
		@include adjust-leading-to(0.75);
		font-style:italic;
	}
}

.tool__name {
	text-align:center;
	@include adjust-font-size-to($smaller);
	letter-spacing:-0.05rem;
	font-weight:bold;
	display:block;
}

@each $class, $hex in $toolbox {
	li.#{$class}:hover {
		background: $hex;
	}
}
